# Database Configuration
DATABASE_URL="postgresql://username:password@host:port/database?pgbouncer=true&connection_limit=1"
DIRECT_URL="postgresql://username:password@host:port/database"

# OpenAI Configuration
OPENAI_API_KEY=your_openai_api_key_here

# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url_here
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key_here

# Discord Configuration
DISCORD_SECRET=your_discord_secret_here
DISCORD_ID=your_discord_id_here
REDIRECT_URL='http://localhost:3000/api/auth/callback'

# Security
ENCRYPTION_KEY=your_encryption_key_here

# Email Service
RESEND_API_KEY=your_resend_api_key_here

# GitHub Configuration
GITHUB_TOKEN=your_github_token_here

# Public URLs
NEXT_PUBLIC_DISCORD_INVITATION="https://discord.gg/your_invitation_link"
NEXT_PUBLIC_REPO_OWNER="your_github_username"
NEXT_PUBLIC_REPO_NAME="your_repo_name"

# Support Emails
SUPPORT_TEAM_EMAIL='support-team@example.com'
SUPPORT_EMAIL='support@example.com'

# Tutorial Videos
NEXT_PUBLIC_RITHMIC_PERFORMANCE_TUTORIAL_VIDEO='your_video_url_here'
NEXT_PUBLIC_RITHMIC_ORDER_TUTORIAL_VIDEO='your_video_url_here'
NEXT_PUBLIC_NINJATRADER_PERFORMANCE_TUTORIAL_VIDEO='your_video_url_here'

# Stripe Configuration
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY='your_stripe_publishable_key_here'
STRIPE_SECRET_KEY='your_stripe_secret_key_here'
STRIPE_WEBHOOK_SECRET='your_stripe_webhook_secret_here'
